{% extends 'base.html.twig' %}

{% block title %} AD Company Employee {% endblock %}


{% block body %}
    
    {% if pageData.isAdmin %}
    <a href="/employee/add"> <button type="button" class="btn btn-primary">Add New Empolyee</button></a>
    {% endif %}
    
    {% if employees %}
        <table class="table table-striped" id="employees">
            <thead>
               <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Middle Name</th>
                    <th>Last Name</th>
                    <th>Division</th>
                    <th>Position</th>
                    <th></th>
               </tr>
            </thead>
            <tbody>
                {% for employee in employees%}
                <tr>
                    <td>{{employee.id}}</td>
                    <td>{{employee.firstName}}</td>
                    <td>{{employee.middleName}}</td>
                    <td>{{employee.lastName}}</td>
                    <td>{{employee.division}}</td>
                    <td>{{employee.position}}</td>
                    <td>
                        <a href="/employee/view/{{employee.id}}"> <button type="button" class="btn btn-primary">View</button></a>
                        {% if pageData.isAdmin %}
                            <a href="/employee/edit/{{employee.id}}"> <button type="button" class="btn btn-primary">Edit</button></a>
                            <a href="#"> <button type="button" class="btn btn-primary active" data-id = {{employee.id}}>Delete</button></a>   
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No employees in the system</p>
    {% endif %}

{% endblock %}

{% block javascripts %}
    <script src = "/js/main.js"></script>
{% endblock %}